In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 读入数据，并把starttime、finishtime列的类型设置为datetime
df = pd.read_excel('./data/一个C15电池的完整流程.xlsx', index_col=None, parse_dates=['starttime', 'finishtime'])

# 同样的效果也可以这么实现
# df = pd.read_excel('一个C15电池的完整流程.xlsx', index_col=None)
# df['starttime'] = pd.to_datetime(df['starttime'])
# df['finishtime'] = pd.to_datetime(df['finishtime'])

print(df.dtypes)

zonename              object
starttime     datetime64[ns]
finishtime    datetime64[ns]
dtype: object

In [3]:
df

  zonename           starttime          finishtime
0    高温陈化区 2018-01-04 05:29:01 2018-01-13 13:51:22
1      化成区 2018-01-13 13:52:59 2018-01-13 20:44:01
2    常温陈化区 2018-01-13 20:45:59 2018-01-19 06:51:08
3      充电区 2018-01-19 07:07:25 2018-01-19 07:44:44
4    高温老化区 2018-01-19 07:49:27 2018-01-23 06:01:23
5    电池降温区 2018-01-23 06:05:25 2018-01-23 19:42:04
6      分容区 2018-01-23 19:48:20 2018-01-23 21:46:20
7    常温保存区 2018-01-23 19:48:20 2018-01-24 20:58:15
8     自放电区 2018-01-24 21:00:22 2018-01-30 06:54:18

In [4]:
time_interval = df['finishtime'] - df['starttime']
time_interval

0   9 days 08:22:21
1   0 days 06:51:02
2   5 days 10:05:09
3   0 days 00:37:19
4   3 days 22:11:56
5   0 days 13:36:39
6   0 days 01:58:00
7   1 days 01:09:55
8   5 days 09:53:56
dtype: timedelta64[ns]

In [5]:
pd.set_option('precision', 1)

In [6]:
seconds = time_interval / np.timedelta64(1, 's')
seconds

0    807741.0
1     24662.0
2    468309.0
3      2239.0
4    339116.0
5     48999.0
6      7080.0
7     90595.0
8    467636.0
dtype: float64

In [7]:
minutes = time_interval / np.timedelta64(1, 'm')
# 或者
# minutes = seconds / 60
minutes

0    13462.4
1      411.0
2     7805.1
3       37.3
4     5651.9
5      816.6
6      118.0
7     1509.9
8     7793.9
dtype: float64

In [8]:
# 时间间隔（以小时为单位）
hours = seconds / 3600
hours

0    224.4
1      6.9
2    130.1
3      0.6
4     94.2
5     13.6
6      2.0
7     25.2
8    129.9
dtype: float64

In [9]:
df['interval (m)'] = minutes
df['interval (h)'] = hours
df

  zonename           starttime          finishtime  interval (m)  interval (h)
0    高温陈化区 2018-01-04 05:29:01 2018-01-13 13:51:22       13462.4         224.4
1      化成区 2018-01-13 13:52:59 2018-01-13 20:44:01         411.0           6.9
2    常温陈化区 2018-01-13 20:45:59 2018-01-19 06:51:08        7805.1         130.1
3      充电区 2018-01-19 07:07:25 2018-01-19 07:44:44          37.3           0.6
4    高温老化区 2018-01-19 07:49:27 2018-01-23 06:01:23        5651.9          94.2
5    电池降温区 2018-01-23 06:05:25 2018-01-23 19:42:04         816.6          13.6
6      分容区 2018-01-23 19:48:20 2018-01-23 21:46:20         118.0           2.0
7    常温保存区 2018-01-23 19:48:20 2018-01-24 20:58:15        1509.9          25.2
8     自放电区 2018-01-24 21:00:22 2018-01-30 06:54:18        7793.9         129.9

In [10]:
# df = df.drop('interval', axis=1)

In [11]:
df.to_excel('./result/一个C15电池的完整流程_附时间间隔.xlsx', sheet_name='Sheet1')